.sidebar {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: start; /* Align items at the start (top) */
    align-items: center; /* Center items horizontally */
    height: 100vh; /* Full height of the viewport */
    width: 200px; /* Adjust width as needed */
    background-color: lightblue; /* Background color of the sidebar */
    position: fixed; /* Fix sidebar to the left side */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    padding-top: 20px; /* Add some padding to the top */
}

.sidebar-item {
    margin-bottom: 15px; /* Space between sidebar items */
    width: 100%; /* Make items take up the full width */
    text-align: center; /* Center the text */
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    background-color: lightblue;

}
.sidebar-item a {
    text-decoration: none;
    text-align: center;
    text-overflow: none;
    color: black;
}
.sidebar-item:hover{
    transform:scale(1.03);
    padding-right:0px;
    background-color:rgb(173, 216, 250);
}
