* {
  margin: 0;
  padding: 0;
}
.mainContainer {
  max-width: 1200px;
  /* margin: 0 auto; */
  padding: 20px;
  margin-top: -1px;
}

.header {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: space-between; /* Space between heading and slider */
  margin-bottom: 20px;
}

h4 {
  font-size: 1.5rem;
  color: #333;
  margin: -81px;
  /* padding: -10px; Ensure no extra margin affects alignment */
  margin-left: 140px;
  ;
}

.slick-slider {
  position: relative;
  align-items: center;
  /* overflow: hidden; */
  width: 67%;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  flex-grow: 10; /* Ensures the slider takes up remaining space next to the h1 */
  margin-left: auto; /* Aligns the slider to the right side */
}

.slick-slide {
  padding: 10px; /* Adjust padding if needed */
  height: 80px; /* Set a fixed height for each slide */
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
}
/* .heading {
} */
.container {
  width: 80px;
  height: 90px;
  margin: -10px;
  
}
.containser img {
  width: 100px;
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px;
  
  
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.Get{
  color: gray;
}

.Dream{
  color: #005bb5;
}

@media (max-width: 768px) {
  .mainContainer {
    padding: 10px;
  }

  .header {
    flex-direction: column; /* Stack h1 and slider vertically on mobile */
    align-items: flex-start; /* Left-align h1 on small screens */
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  
}
