.outerDiv{
    display: block;
    background-color: lightblue;
    border-radius:15px;
    color:white;
    border: 1px ;
    margin:10px;
    margin-left: 210px;

}
.ApplyButton{
    display:inline-flex;
    margin: 100px;
    justify-content:center;
    align-items:center;
}