.profile-section {
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .section-icon {
    margin-right: 10px;
  }
  
  .section-title {
    flex-grow: 1;
    font-size: 1.1em;
  }
  
  .section-btn {
    padding: 12px 18px;
    background-color: white;
    border: solid 1px #007bff;
    color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
  }

  .section-btn:hover {
    background-color: #007bff;
    color: white;
    /* border: none; */
  }
  
  .streaks-container {
    margin-top: 10px;
  }
  